@media (min-width: 768px) {

    #hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav a {
        border-top: none;
        padding: 1rem 1.5rem;
    }

    .home-grid {
        grid-template-columns: 2fr 1fr;
    }

    .events {
        grid-column: 1;
    }

    .weather {
        grid-column: 2;
    }

    .spotlights {
        grid-column: span 2;
    }

    .spotlights-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }
}